# OpenDKIM KeyTable - managed by Ansible

{% for domain in mail_managed_domains %}
{{ mail_dkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ mail_dkim_selector }}:{{ mail_opendkim_private_key_path }}
{% endfor %}
