# OpenDKIM main configuration - managed by Ansible

Syslog yes
Mode sv
Canonicalization relaxed/relaxed
Socket {{ mail_opendkim_socket }}
KeyTable {{ mail_opendkim_conf_dir }}/KeyTable
SigningTable refile:{{ mail_opendkim_conf_dir }}/SigningTable
ExternalIgnoreList {{ mail_opendkim_conf_dir }}/TrustedHosts
InternalHosts {{ mail_opendkim_conf_dir }}/TrustedHosts
UserID {{ mail_opendkim_user }}:{{ mail_opendkim_group }}
