# Dovecot main configuration - managed by Ansible

# Protocols enabled on this host.
protocols = {{ mail_dovecot_protocols | join(' ') }}

# Include conf.d snippets
!include conf.d/*.conf

# Base settings
login_greeting = Dovecot ready
auth_mechanisms = plain
