{# Dovecot passwd-file for local virtual users #}
{% for user in mail_local_users %}
{{ user }}:{% if mail_local_user_password_hashes[user] is defined %}{{ mail_local_user_password_hashes[user] }}{% endif %}::::::
{% endfor %}
