[Unit]
Description=NASA Mail Filter/Rewrite Milter
After=network.target
Before=postfix.service opendkim.service

[Service]
Type=simple
User={{ mail_filter_milter_user }}
Group={{ mail_filter_milter_group }}
WorkingDirectory={{ mail_filter_milter_app_dir }}
ExecStart={{ mail_filter_milter_venv_dir }}/bin/python3 {{ mail_filter_milter_app_path }}
Restart=on-failure
RestartSec=5

Environment=PYTHONUNBUFFERED=1

PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
