# Dovecot master service configuration - managed by Ansible

# Auth sockets
service auth {
  unix_listener {{ mail_dovecot_auth_socket_path }} {
    mode = 0660
    user = postfix
    group = postfix
  }
}

# LMTP sockets
service lmtp {
  unix_listener {{ mail_dovecot_lmtp_socket_path }} {
    mode = 0660
    user = postfix
    group = postfix
  }
}
