# {{ ansible_managed }}
# OpenLDAP password quality check module configuration
useCracklib 0
minPoints {{ openldap_check_password_min_points }}
minUpper {{ openldap_check_password_min_upper }}
minLower {{ openldap_check_password_min_lower }}
minDigit {{ openldap_check_password_min_digit }}
minPunct {{ openldap_check_password_min_punct }}
