# {{ ansible_managed }}
{% set _totp_params_cn = openldap_totp_params_dn | regex_replace('^cn=([^,]+),.*$', '\\1') %}
dn: {{ openldap_totp_params_dn }}
objectClass: top
objectClass: organizationalRole
objectClass: oathTOTPParams
cn: {{ _totp_params_cn }}
oathOTPLength: {{ openldap_totp_length }}
oathTOTPTimeStepPeriod: {{ openldap_totp_time_step }}
oathHMACAlgorithm: {{ openldap_totp_hmac_algorithm }}
