[Interface]
Address = {{ wireguard_address }}
PrivateKey = {{ wireguard_private_key }}

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
PresharedKey = {{ wireguard_preshared_key }}
AllowedIPs = {{ wireguard_allowed_ips }}
Endpoint = {{ wireguard_peer_endpoint }}
PersistentKeepalive = {{ wireguard_persistent_keepalive | default(5) }}
