# {{ ansible_managed }}
# OpenLDAP password quality check module configuration
useCracklib 0
minPoints {{ ldap_server_check_password_min_points }}
minUpper {{ ldap_server_check_password_min_upper }}
minLower {{ ldap_server_check_password_min_lower }}
minDigit {{ ldap_server_check_password_min_digit }}
minPunct {{ ldap_server_check_password_min_punct }}
