# {{ ansible_managed }}
dn: olcOverlay=sssvlv,{{ _ldap_server_mdb_dn }}
objectClass: olcOverlayConfig
objectClass: olcSssVlvConfig
olcOverlay: sssvlv
olcSssVlvMax: {{ ldap_server_sssvlv_max | default(500) }}
olcSssVlvMaxKeys: {{ ldap_server_sssvlv_max_keys | default(50) }}
olcSssVlvMaxPerConn: {{ ldap_server_sssvlv_max_per_conn | default(10) }}
