# {{ ansible_managed }}
dn: olcOverlay=sssvlv,{{ _openldap_mdb_dn }}
objectClass: olcOverlayConfig
objectClass: olcSssVlvConfig
olcOverlay: sssvlv
olcSssVlvMax: {{ openldap_sssvlv_max | default(500) }}
olcSssVlvMaxKeys: {{ openldap_sssvlv_max_keys | default(50) }}
olcSssVlvMaxPerConn: {{ openldap_sssvlv_max_per_conn | default(10) }}
