# {{ ansible_managed }}
dn: cn=totp-{{ _totp_username }},ou=Ppolicy,{{ ldap_base_dn }}
objectClass: top
objectClass: organizationalRole
objectClass: oathTOTPToken
cn: totp-{{ _totp_username }}
oathTOTPParams: {{ openldap_totp_params_dn }}
oathSecret:: {{ _totp_secret }}
